/*
Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343
*/

#main_background {
  background-color: #F2F1E8;
}

#about_background {
  background-color: #F2F1E8;
}

#newsletter_background {
  background-image: url(images/background-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  width: auto;
}

#site_header {
  display: flex;
  flex-direction: row;
  background-color: #FFFFFF;
}

.main_navigation {
  font-family: sans-serif;
  color: #2B2F26;
  margin-top:40px;
  text-align: center;
}

#index_headlines {
  color: #131511;
  text-align: center;
}

#index_headlines > h1 {
  font-size: 36pt;
}

#index_headlines > h2 {
  font-size: 24pt;
  font-weight: lighter;
  line-height: 12pt;
  color: black;
}

.index_tag {
  background-color: #968772;
  color: #F2F1E8;
  font-size: 14pt;
  padding: 10px 20px 10px 20px;
  align-items: baseline;
}

.footer {
  background-color: #968772;
  color: #F2F1E8;
  font-size: 14pt;
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

#index_photos_section_1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#index_photos_section_2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#product-1 {
  background-image: url(images/product-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  width: 780px;
  margin: 10px;
}

#product-2 {
  background-image: url(images/product-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  width: 220px;
  margin: 10px;
}

#product-3 {
  background-image: url(images/product-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  width: 250px;
  margin: 10px;
}

#product-4 {
  background-image: url(images/product-4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  width: 250px;
  margin: 10px;
}

#product-5 {
  background-image: url(images/product-5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  width: 250px;
  margin: 10px;
}

#product-6 {
  background-image: url(images/product-6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  width: 480px;
  margin: 10px;
}

#product-7 {
  background-image: url(images/product-7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  width: 250px;
  margin: 10px;
}

#about_section_1 > h1 {
  font-size: 60pt;
  font-weight: normal;
  text-align: center;
}

#birdhouse {
  float: left;
}

.about_text {
  margin-left: 150px;
  margin-right: 150px;
  font-size: 24pt;
}

#Jenn_Wilson_quote {
  font-style: italic;
  font-size: 20pt;
  padding-left: 20px;
}

#Jenn_Wilson_quote p {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 60pt;
  font-weight: normal;
  color: #F2F1E8;
  text-align: center;
  line-height: 300pt;
}

h3 {
  font-weight: normal;
}

#about_section_2 {
  background-image: url(images/background-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 400px;
  width: auto;
}

#background-1 {
  float: right;
  font-size: 12pt;
  width: 250px;
  height: 500px;
}

table {
  padding-bottom: 50px;
}

th, td {
  border: 1px solid black;
  font-weight: normal;
  font-size: 16pt;
  padding: 10px;
}

.newsletter_form {
  background: white;
  width: 800px;
  height: 450px;
  text-align: center;
  padding: 40px 20px 40px 20px;
}

.newsletter_form h1 {
  font-weight: normal;
}

.newsletter_form h2 {
  font-weight: normal;
  color: black;
  font-size: 18pt;
  line-height: 18pt;
}

#inputs {
  display: flex;
  flex-direction: column;
}

#name_block {
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  line-height: 24pt;
  color: gray;
}

#email_block {
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  line-height: 24pt;
  color: gray;
}

#submit {
  background-color: #968772;
  padding: 15px 25px 15px 25px;
  color: #F2F1E8;
  font-family: sans-serif;
  font-size: 14pt;
}
